.SignIn{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMn4dpf7BVNVZz3DWTDZfGIkLxi7cWmPr7nQ&s');
    background-size: cover;
    flex: 1 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    background-color: #cfc5c573;
    padding: 30px;
    border: 1px solid rgb(158, 152, 152);
    border-radius: 1px;
}

.loginForm2{
    background-color: #cfc5c573;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid rgb(158, 152, 152);
    border-radius: 1px;
}

#login-btn{
    background-color: #1773ea;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding:5px 5px;
    cursor: pointer;
    margin: 5px;
}